.myPostsTitle {
    margin-bottom: 50px;
    margin-top: 20px;
}

.createAndUpdatePostTitle {
    margin: 20px
}

.myPostsEachPost{
    border: 2px solid gray;
    border-left: none;
    border-right: none;
    padding: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.divGeneralProfile {
    border: 2px solid;
    margin-top: 50px;
    border-right: none;
    border-left: none;
    text-align: center
    
}

.pageAndLanguage {
    display: flex;
    justify-content: start;
    margin-bottom: 185px;
}

.covImage {
    max-height: 600px;
    max-width: 600px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .covImage {
      max-width: 500px !important;
      max-height: 500px !important;
      margin-bottom: 30px;
    }
  }
  
  @media screen and (max-width: 550px) {
    .covImage {
      max-width: 400px !important;
      max-height: 400px !important;
      margin-bottom: 30px;
    }
  }

.theCarousel {
    max-width: 600px;
    max-height: 600px;
}

@media screen and (max-width: 768px) {
    .theCarousel {
        text-align: center;
        margin-top: 30px;
        max-width: 600px;
        max-height: 600px;
    }
  }

.swiperCarousel {
    width: 100%;
    height: 100%;
}

.hideInput {
    position: "absolute";
    height: 0; 
    width: 0;
} 

.incorrect {
    color: red;
}