.menuGeneral {
    padding-top: 50px;
    margin-right: 0px !important;
    margin-right: 0px !important;
    font-family: 'Cormorant', serif;
    font-size: 1.4em;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textBlack {
    color: black;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
.textBlackWithDecoration {
    color: black;
}

.homeIcon {
    height: 25px;
    width: 25px;
}